body {
  background-color: hsl(224, 36%, 15%);
}
h4 {
  color: white;
}
.calc {
  margin: 50px 80px;
}
.input {
  height: 20%;
  background-color: hsl(223, 31%, 20%);
  border-radius: 10px;
}

.keypad {
  margin-top: 30px;
  background-color: hsl(223, 31%, 20%);
  border-radius: 10px;
  padding: 2% 5%;
}

.btn {
  color: hsl(221, 14%, 31%);
  background-color: hsl(30, 25%, 89%);
  width: 80%;
  font-family: "Spartan", sans-serif;
  border-radius: 10px;
  padding: 10px 0 10px 0;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px hsl(28, 16%, 65%);
}

.btn-blue {
  background-color: hsl(225, 21%, 49%);
  box-shadow: 2px 2px 2px hsl(224, 28%, 35%);
  color: white;
}

.btn-red {
  background-color: hsl(6, 63%, 50%);
  box-shadow: 2px 2px 2px hsl(6, 70%, 34%);
  color: white;
}

.row {
  margin-top: 15px;
}

.btn-div {
  padding-right: 0px;
  padding-left: 2px;
}
